*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*MENU PRINCIPAL*/
body{
    min-width: 420px;
}
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;

}
h1{
    font-size: 24px;
}
ul{
    width: 100%;
    display:flex;
    list-style: none;
    justify-content: space-around;
  
}

 a{
   
    text-decoration: none;
    color: rgb(255, 255, 255);
}
h2{
    color: black;
    text-align: center;
}

/* CONTENEDOR IMAGEN DE LA FOTO Y DESCRICIÓN*/
.separa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:auto;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}
/* IMAGEN DE LA FOTO*/
.imagen{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

/*CLASE DE LA FOTO*/
.foto{
    width: 90%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
   padding: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow:  0px 4px 12px rgba(64, 64, 24, 0.7);

}
/* CONTENEDOR DE LA DESCRIPCION*/
.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height:200px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;

}
p{
    text-align: center;
}
.btnconoce{
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color:rgb(77, 144, 252);
    color: white;
    font-size: 15px;
    font-weight: bold;
}
/* SECCIÓN SOBRE MI*/
.sobremi{
    width: 100%;
    height: 140px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.contenidosobremi{
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    
}
.sobremititulo{
    width: 90%;
    text-align: left;
    font-size: 15px;
    margin: 10px;
}

/*SECCIÓN DE PROYECTO*/
.tituloProyecto{
    color: rgb(77, 144, 252);
    margin: 10px;
}
.proyecto{
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    padding: 10px;

}
.contenedrProyecto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows:  repeat(2,1fr);
    gap: 10px;
    place-items: center;
 
}
 
/* SECCIÓN DE PROYECTOS*/


.proyec1, .proyec2, .proyec3, .proyec4{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
}

.tituloproyectos{
    text-align: left;
}
.descrcionproyectos{
    text-align: left;
}
.sabermas{
    color: blue;
}
.dos{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;

}
.tres{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;

}
/*------------------------- FORMULARIO-----------------------------*/
legend{
    color: rgb(77, 144, 252);
}


.formulario{ /*CONTEDOR DEL FORMULARIO*/
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    gap: 10px;
    border-style: solid;
    
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow:  0px 4px 12px rgba(64, 64, 24, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;    
}

.enviar{/*BOTTON DE ENVIO FORMULARIO*/
    background-color:rgb(77, 144, 252);;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    flex-shrink: 0;
    font-weight: bold;
    font-size: 15px;
}


textarea{
    width: 90%;
    height: 70px;
}
label{
    width: 90%;
    color: black;
    font-weight: bold;
}
input{
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 0.1px solid black;
    font-size: 15px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    margin: 10px;
    gap: 10px;
}
/*Tablets*/
@media (min-width: 768px) {
    nav{
        width: 70%;
        border-radius: 10px;
               
    }
 
 .contenedrProyecto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
}

form{
    width: 50%;
   
}

   .foto{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(255, 255, 255);
   }
    img{
    width:300px;
    height: 300px;
    object-fit: contain;
    object-position:center;
    max-width: 100%;
    border-radius: 20px;
    }


}

/*Tamaño de desktop*/
/* LAPTOP */
@media (min-width: 1024px) {



.separa{
    width: 90%;
    height: 450px;
    flex-direction: row;
    background-color: #ffffff;

    }

    .descripcion{
    justify-content: flex-start;
    width: 60%;
    height: 100%;
    border-radius: 0px;
    background-color: #ffffff;
    }
   .foto{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(255, 255, 255);
   }
    img{
    width:300px;
    height: 300px;
    object-fit: contain;
    object-position:center;
    max-width: 100%;
    border-radius: 20px;
    }
    h1{
    width: 100%; 
     height: 50%;
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    }
.contenedrProyecto{
    width: 40%;
}
 .proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
}

.proyec1, .proyec2, .proyec3, .proyec4{
    width: 90%;
}
form{
   width: 30%;
}

}


/*TAMAÑO DE PANTALLAS GRANDES*/
@media (min-width: 1440px) {

        nav{
        width: 40%;
        border-radius: 10px;   
    }
 
    .contenidosobremi{
        width: 40%;
    }
.separa{
    width: 90%;
    height: 450px;
    flex-direction: row;
}

.foto{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
 
}
img{
    width:400px;
    height: 400px;
    object-fit: contain;
    object-position:center;
    max-width: 100%;
    border-radius: 20px;

}
.descripcion{
    justify-content: flex-start;;
    width: 60%;
    height: 100%;
    border-radius: 0px;
    background-color: #ffffff;
}
h1{
    width: 100%; 
     height: 50%;
     background-color: rgb(255, 255, 255);  
    font-size: 94px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

form{
    width: 30%;
  
}

.proyecto{
    width: 100%;
}
.contenedrProyecto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
}

.btnconoce{
    width: 40%;
}

.contenedrProyecto{
    width: 40%;
}
 .proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
}

.proyec1, .proyec2, .proyec3, .proyec4{
    width: 90%;
}
}
