*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*MENU PRINCIPAL*/
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
}
h1{
    font-size: 20px;
}
ul{
    width: 100%;
    display:flex;
    list-style: none;
    justify-content: space-around;
  
}

 a{
   
    text-decoration: none;
    color: rgb(255, 255, 255);
}
h2{
    color: black;
    text-align: center;
}

/* CONTENEDOR IMAGEN DE LA FOTO Y DESCRICIÓN*/
.separa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:auto;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}
/* IMAGEN DE LA FOTO*/
.imagen{
    width: 100%;
    height: auto;
    background-color: #e19898;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

/*CLASE DE LA FOTO*/
.foto{
    width: 90%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    border: 10px;
    overflow: hidden;

}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
/* CONTENEDOR DE LA DESCRIPCION*/
.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height:200px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;

}
p{
    text-align: center;
}
.btnconoce{
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color:rgb(77, 144, 252);
    color: white;
    font-size: 15px;
    font-weight: bold;
}
/* SECCIÓN SOBRE MI*/
.sobremi{
    width: 100%;
    height: 140px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.contenidosobremi{
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    
}
.sobremititulo{
    width: 90%;
    text-align: left;
    font-size: 15px;
    margin: 10px;
}

/*SECCIÓN DE PROYECTO*/
.tituloProyecto{
    color: rgb(77, 144, 252);
    margin: 10px;

    
}
.proyecto{
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}
.contenedrProyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
/* SECCIÓN DE PROYECTOS*/
.proyec{
    width: 90%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}
.tituloproyectos{
    text-align: left;
}
.descrcionproyectos{
    text-align: left;
}
.sabermas{
    color: blue;
}
.dos{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;

}
.tres{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;

}
/*------------------------- FORMULARIO-----------------------------*/
legend{
    color: rgb(77, 144, 252);
}


.formulario{ /*CONTEDOR DEL FORMULARIO*/
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    gap: 10px;
    
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow:  0px 4px 12px rgba(64, 64, 24, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    
}

.enviar{/*BOTTON DE ENVIO FORMULARIO*/
    background-color:rgb(77, 144, 252);;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    flex-shrink: 0;
    font-weight: bold;
    font-size: 15px;
}


textarea{
    width: 90%;
    height: 70px;
}
label{
    width: 90%;
    color: black;
    font-weight: bold;
}
input{
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 0.1px solid black;
    font-size: 15px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    margin: 10px;
    gap: 10px;
}
/*TAMAÑO DE PANTALLAS GRANDES*/
@media (min-width: 1440px) {
.separa{
    background-color: #ffffff;
    flex-direction: row;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
       background-color: #bf3b3b;


}
img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   object-position:center;
   border-radius: 00px 0px 0px 00px;

}
.descripcion{
    height: 400px;
    border-radius: 0px 0px 0px 0px;

}

form{
    width: 40%;
  
}
.proyec{
    width: 40%;
}
.btnconoce{
    width: 40%;
}
}

